<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Time Format</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>detail</key>
			<string>ALSPreferencesListItemsController</string>
			<key>label</key>
			<string>Clock Type</string>
			<key>key</key>
			<string>clockType</string>
			<key>validTitles</key>
			<array>
				<string>Text</string>
				<string>Analog</string>
				<string>Digital</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0</real>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>24 Hour Time</string>
			<key>key</key>
			<string>twentyFourHour</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clock Face Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Face Color</string>
			<key>cellClass</key>
			<string>ALSPreferencesColorCell</string>
			<key>key</key>
			<string>faceColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clock Face Color Visibility</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>key</key>
			<string>colorVisiblity</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<real>1</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clock Face Fonts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Main Font</string>
			<key>cellClass</key>
			<string>ALSPreferencesFontCell</string>
			<key>key</key>
			<string>mainFont</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSDefaultCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Secondary Font</string>
			<key>cellClass</key>
			<string>ALSPreferencesFontCell</string>
			<key>key</key>
			<string>secondaryFont</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Above Settings</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Reset the above Settings?</string>
				<key>title</key>
				<string>Reset</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Clock Face</string>
</dict>
</plist>
