<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Change these at your own risk</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Inner Padding:</string>
			<key>key</key>
			<string>clockInnerPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Invisible At:</string>
			<key>key</key>
			<string>clockInvisibleAt</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Radius:</string>
			<key>key</key>
			<string>clockRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Subtitle Offset:</string>
			<key>key</key>
			<string>clockSubtitleOffset</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Max Subtitle Height:</string>
			<key>key</key>
			<string>maxSubtitleHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Max Title Height:</string>
			<key>key</key>
			<string>maxTitleHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Above Settings</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Reset the above Settings?</string>
				<key>title</key>
				<string>Reset</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Other Settings</string>
</dict>
</plist>
