<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Change these at your own discretion &amp; risk</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Analog Clock Middle Dot Radius:</string>
			<key>key</key>
			<string>clockDotRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Analog Hand Inner Width:</string>
			<key>key</key>
			<string>handInnerWidth</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Analog Hand Outer Width:</string>
			<key>key</key>
			<string>handOuterWidth</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Inner Padding:</string>
			<key>key</key>
			<string>clockInnerPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Radius:</string>
			<key>key</key>
			<string>clockRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Clock Subtitle Top Padding:</string>
			<key>key</key>
			<string>clockSubtitleTopPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Character Dot Bottom Padding:</string>
			<key>key</key>
			<string>characterDotBottomPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Character Dot Side Padding:</string>
			<key>key</key>
			<string>characterDotSidePadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Character Dot Radius:</string>
			<key>key</key>
			<string>characterDotRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Enter Passcode Text Height:</string>
			<key>key</key>
			<string>enterPasscodeTextHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hide for Notifications/Media:</string>
			<key>key</key>
			<string>shouldHideForNotificationsOrMedia</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Hand Extension Length:</string>
			<key>key</key>
			<string>hourHandExtensionLength</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Hand Length:</string>
			<key>key</key>
			<string>hourHandLength</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Tick Mark Height:</string>
			<key>key</key>
			<string>hourTickMarkHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Tick Mark Inner Width:</string>
			<key>key</key>
			<string>hourTickMarkInnerWidth</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Tick Mark Outer Width:</string>
			<key>key</key>
			<string>hourTickMarkOuterWidth</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hour Tick Mark Padding:</string>
			<key>key</key>
			<string>hourTickMarkPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Max Digital Time Height:</string>
			<key>key</key>
			<string>maxDigitalTimeHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Max Subtitle Height:</string>
			<key>key</key>
			<string>maxSubtitleHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Max Title Height:</string>
			<key>key</key>
			<string>maxTitleHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Minute Hand Extension Length:</string>
			<key>key</key>
			<string>minuteHandExtensionLength</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Minute Hand Length:</string>
			<key>key</key>
			<string>minuteHandLength</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Button Distance From Edge:</string>
			<key>key</key>
			<string>passcodeButtonDistanceFromEdge</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Button Padding:</string>
			<key>key</key>
			<string>passcodeButtonPadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Button Pressed Alpha:</string>
			<key>key</key>
			<string>passcodeButtonPressedAlpha</string>
			<key>isDecimalPad</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Button Radius:</string>
			<key>key</key>
			<string>passcodeButtonRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Button Text Height:</string>
			<key>key</key>
			<string>passcodeButtonTextHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Text Field Corner Radius:</string>
			<key>key</key>
			<string>passcodeTextFieldCornerRadius</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Text Field Height:</string>
			<key>key</key>
			<string>passcodeTextFieldHeight</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Pass Text Field Side Padding:</string>
			<key>key</key>
			<string>passcodeTextFieldSidePadding</string>
			<key>isNumeric</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Show Leading Hour Zero:</string>
			<key>key</key>
			<string>shouldShowLeadingZero</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Above Settings</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Reset the above Settings?</string>
				<key>title</key>
				<string>Reset</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Other Settings</string>
</dict>
</plist>
