<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hides the &quot;Enter Passcode&quot; text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hide &quot;Enter Passcode&quot; Text</string>
			<key>key</key>
			<string>shouldHideEnterPasscodeText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hides the &apos;Zero&apos; button, but does not disable it (button is still tappable)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hide &apos;Zero&apos; Button</string>
			<key>key</key>
			<string>shouldHideZeroButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hides the &apos;cancel&apos;, &apos;delete&apos;, and &apos;emergency&apos; buttons, but does not disable them (buttons are still tappable)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.brycepauken.aeurials</string>
			<key>label</key>
			<string>Hide Bottom Buttons</string>
			<key>key</key>
			<string>shouldHideBottomButtons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Above Settings</string>
			<key>action</key>
			<string>resetSettings</string>
			<key>isDestructive</key>
			<true/>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Reset the above Settings?</string>
				<key>title</key>
				<string>Reset</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Passcode Settings</string>
</dict>
</plist>
